div {
  margin: 10px;
}

#gradient {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(to right, green, blue);
}

#a {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(to left, green, blue);
}

#b {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(to bottom, green, blue);
}

#c {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(to top, green, blue);
}

#d {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(90deg, orange, yellow);
  /* opacity: 0.2; */
  /* box-shadow: inset 5px 5px black; */
  box-shadow: 
    inset 0 -3em 3em rgb(100 100 100 / 50%),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 30%),
    5px 5px yellow
  ;
}

#d:hover {
  box-shadow: 5px 5px yellow;
}

#e {
  font-size: 5em;
  text-shadow: 2px 2px yellow;
}

#scale-x {
  width: 100px;
  height: 100px;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
  transform: scaleX(2);
}

#scale-y {
  width: 100px;
  height: 100px;
  background-color: brown;
  margin-left: auto;
  margin-right: auto;
  transform: scaleY(1);
}

#scale-z {
  width: 100px;
  height: 100px;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
  transform: perspective(500px) scaleZ(1) rotateX(45deg);
}

#scale {
  width: 100px;
  height: 100px;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.5, 1.5);
}

#scale-z {
  width: 100px;
  height: 100px;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
  transform: perspective(500px) scaleZ(1) rotateX(45deg);
}

#scale-3d {
  width: 100px;
  height: 100px;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
  transform: perspective(200px) scale3d(2, 1, 2) rotateX(45deg);
}

#rotate-x {
  width: 100px;
  height: 100px;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
  transform: rotateX(180deg);
}

#rotate-y {
  width: 100px;
  height: 100px;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
  transform: rotateY(180deg);
}

#rotate-z {
  width: 100px;
  height: 100px;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
  transform: rotateZ(180deg);
}

#rotate {
  width: 100px;
  height: 100px;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(10deg);
}

#translate-x {
  width: 100px;
  height: 100px;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(-100px)
}

#translate-y {
  width: 100px;
  height: 100px;
  background-color: rgb(202, 126, 34);
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-110px)
}

#translate-z {
  width: 100px;
  height: 100px;
  background-color: rgb(202, 126, 34);
  margin-left: auto;
  margin-right: auto;
  transform: perspective(500px) translateZ(110px)
}

#translate {
  width: 100px;
  height: 100px;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-100px, -100px);
}

#transition-empurra {
  width: 100px;
  height: 100px;
  background-color: rgb(179, 138, 89);

}

#transition {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 120px;
  background-color: bisque;
  /* margin-left: auto;
  margin-right: auto; */
  /* transition: all 4s; */
  transition: 4s ease-in
  ;
  transition-timing-function: ease-in;
}

#transition-empurra:hover + #transition {
  /* width: 300px;
  height: 300px; */
  /* margin-top: 2.5em; */
  /* transform: rotateX(180deg) rotateY(180deg) translate(100px, 100px); */
  transform: rotate(360deg);
  left: calc(100%);

}



#transition-empurra-bola {
  width: 100px;
  height: 100px;
  background-color: rgb(179, 138, 89);

}

#transition-bola {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 110px;
  left: 120px;
  background-color: bisque;
  /* margin-left: auto;
  margin-right: auto; */
  /* transition: all 4s; */
  transition: 4s ease-in
  ;
  transition-timing-function: ease-in;
}

#transition-empurra-bola:hover + #transition-bola {
  /* width: 300px;
  height: 300px; */
  /* margin-top: 2.5em; */
  /* transform: rotateX(180deg) rotateY(180deg) translate(100px, 100px); */
  transform: rotate(360deg);
  left: calc(100%);
  border-radius: 100%;
}

/* #p {
  font-size: 1em;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }
  
  to {
    margin-left: 0%;
  }
} */

#p:hover {
  font-size: 5em;
}



