.content {
  width: 150px;
  height: 10000px;
}

.a {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: red;
  border: 2px solid rgb(102, 76, 175);
  color: white;
  z-index: 1;
  height: 50px;
}

.centro {
  position: fixed;
  top: 30%;
  left: 45%;
}

.fundo {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.perto-do-a {
  position: relative;
  z-index: 2;
}


